@use "sass:math";

$width: 1920;
$height: 1080;
$aspect-ratio-wh: math.div($width, $height);
$aspect-ratio-hw: math.div($height, $width);

:root {
  color-scheme: light dark;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  color: $color-yellow;
  background-color: $color-black-real;
}

@media (min-aspect-ratio: #{$width} / #{$height}), (aspect-ratio: #{$width} / #{$height}) {
  body {
    font-size: 4vh;
  }
}

@media (max-aspect-ratio: #{$width} / #{$height}) {
  body {
    font-size: #{4 * $aspect-ratio-hw}vw;
  }
}
