$color-black-real: #000;
$color-white-real: #fff;

$color-black: #151515;
$color-white: $color-white-real;

$color-yellow: #ffec02;
$color-blue: #2197ff;
$color-red: #ff2d2d;
$color-green: #29da29;

$color-yellow-lit: #fffbcd;
$color-blue-lit: #c2e2ff;
$color-red-lit: #ffcaca;
$color-green-lit: #b4ffb4;

$color-water: #9999ff;
$color-ground: #ffe699;
$color-treasure: #F99C2D;

@mixin neg {
  -webkit-font-smoothing: antialiased;
}
