@mixin fs-gradient-vector-regular {
  font-family: 'gradient-vector', sans-serif;
  font-weight: 400;
}

@mixin fs-gradient-vector-light {
  font-family: 'gradient-vector', sans-serif;
  font-weight: 300;
}
