.play {
  color: lightgray;
  stroke-width: 3;
  stroke: none;
  fill: none;
}

$player-colors: $color-player-0, $color-player-1, $color-player-2, $color-player-3;

@for $i from 0 through 3 {
  .player-#{$i} {
    $player-color: nth($player-colors, 1 + $i);

    color: $player-color;

    .draw &, &.draw {
      stroke: $player-color;
    }

    .fill &, &.fill {
      fill: $player-color;
    }
  }
}

.cover {
  stroke: none;
  fill: $color-bg;
}

.water {
  stroke: $color-water;
}

.ground {
  stroke: $color-ground;
  fill: $color-bg;
}

.ground-cover {
  @extend .cover;
  stroke: $color-bg;
  stroke-width: 10px;
}

.treasure {
  stroke: $color-treasure;
}

.ending-sequences-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5vw;
  padding-bottom: 1vw;
}

.ending-sequences-text-anchor {
  position: absolute;
}

.game-stats {
  text-align: right;
  margin: 1ex;
  font-size: 1.5vw;

  .counter {
    margin-left: 1ex;
  }
}
