.play {
  stroke-width: 3;
  stroke: none;
  fill: none;
}

$player-colors: $color-player-0, $color-player-1, $color-player-2, $color-player-3;

@for $i from 0 through 3 {
  .player-#{$i} {
    $player-color: nth($player-colors, 1 + $i);

    color: $player-color;

    .draw &, &.draw {
      stroke: $player-color;
    }

    .fill &, &.fill {
      fill: $player-color;
    }
  }
}

.water {
  stroke: $color-water;
}

.ground {
  stroke: $color-ground;
}

.treasure {
  stroke: $color-treasure;
}

.ending-sequences-text {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2vw;
  position: relative;
  left: -50%;
}

.ending-sequences-text-container {
  position: absolute;
  width: 100vw;
}
