.main {
  @include regularText;
  width: 100%;
  height: 100%;

  .min-aspect-ratio {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: #{$aspect-ratio-wh * 100}vh;
    margin: auto;
    background-color: $color-bg;
    overflow: hidden;
    font-size: 100%;

    .game-view, .overlay {
      position: absolute;
      top: 0px;
      height: #{$aspect-ratio-hw * 80}vw;
      max-height: 80vh;
      width: 100%;
    }

    .game-view {
      & > svg {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }

    .overlay {
      background-color: transparent;
      pointer-events: none;
    }
  }
}

.title-logo {
  @include lightText;
  text-transform: uppercase;
  font-size: 40px;
}

.title-press-to-start {
  @extend .blinking;
  @extend .text;
  @extend .text-center;
  position: absolute;
  top: 80%;
}

.menu-title {
  margin-top: 15%;
}

.menu-selector {
  text-align: center;
  margin-top: 10%;

  .item {
    position: relative;
    display: inline-block;
    margin: 0 5%;
    padding-top: 0.16ex;
    box-sizing: content-box;

    &.selected {
      border-color: $color-yellow;
      border-bottom: 0.09ex solid;
      border-top: 0.09ex solid;
    }
  }
}
