.text {
  text-transform: uppercase;
}

.text-center {
  width: 100%;
  text-align: center;
}


@keyframes blinking{
  0%    {	opacity: 1;	}
  49%   {	opacity: 1;	}
  75%   {	opacity: 0;	}
  99%   {	opacity: 0;	}
  100%  {	opacity: 1;	}
}

.blinking {
  animation: blinking 1.25s infinite;
}
