.main {
  @include regularText;
  width: 100%;
  height: 100%;

  .game-view {
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(1080.0 / 1920.0 * 80vw);
    text-align: center;

    & > svg {
      display: inline-block;
      height: 100%;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }
  }

  .overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: calc(1080.0 / 1920.0 * 80vw);
    top: 0;
    background-color: transparent;
    pointer-events: none;
  }
}

.title-logo {
  @include lightText;
  text-transform: uppercase;
  font-size: 40px;
}

.numPlayers-title {
  margin-top: 20vh;
}

.numPlayers-selector {
  text-align: center;
  margin-top: 10vh;

  .item {
    position: relative;
    display: inline-block;
    margin: 0 5vw;

    &.selected {
      &:after {
        position: absolute;
        display: block;
        content: "^";
        top: 5vh;
        left: 0;
      }
    }
  }
}
